main {
	display: grid;
	grid-template-areas: 
		"header header" 
		"home home"
		"goals schedule" 
		"recent stats"
		"footer footer";
}

.header{
	grid-area: header;
	background-color: pink;
}

.heading-text {
	grid-area: home;
	background-color: magenta;
}

.goals-section{
	grid-area: goals;
	background-color: lime;
}

.schedule-section{
	width: 90%;
	margin: 5%;
	padding: 1rem;
	grid-area: schedule;
	background-color: blue;
	border-radius: 10px;
}

.week-month {
	text-transform: uppercase;
	padding: 5px;
	border-bottom: 2px solid grey;
}

.days-of-week{
	margin: 1rem;
}

.days-of-week,
.activity-icons,
.week-month {
	display: flex;
	justify-content: space-around;
}
.recent-activities-section {
	grid-area: recent;
	background-color: yellow;

}

.running-icon {
	font-size: 2rem;
	padding: 5px;
} 

.stats-section{
	grid-area: stats;
	background-color: orange;
}

footer {
	grid-area: footer;
	background-color: cyan;
}

