main {
	display: grid;
	grid-template-areas: 
		"header header" 
		"home home"
		"goals schedule" 
		"recent stats"
		"footer footer"
}

.header-section{
	grid-area: header;
	background-color: #0d98ba;
	display: flex;
	height:100px;
}

.logo{
	width:25%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -10px;
}

.logo p{
	font-size: 30px;
}


.fa-running{
	font-size: 50px;
	margin-left:0px;
	align-items:left;
}

.heading-title{
	width:60%;
	display: flex;
	justify-content: center;
	align-items: center;


}

.heading-title nav a{
	justify-content: space-between;
	margin-left:30px;
}

.login{
	width:15%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: flex-end;

}

.login div{
	margin-right:20px;
}

.login-icon{
	justify-content: center;
	align-items: center;
}

.heading-text {
	grid-area: home;
	background-color: magenta;
}

.goals-section{
	grid-area: goals;
	background-color: lime;
}

.schedule-section{
	width: 90%;
	margin: 5%;
	padding: 1rem;
	grid-area: schedule;
	background-color: blue;
	border-radius: 10px;
}

.week-month {
	text-transform: uppercase;
	padding: 5px;
	border-bottom: 2px solid grey;
}

.days-of-week{
	margin: 1rem;
}

.days-of-week,
.activity-icons,
.week-month {
	display: flex;
	justify-content: space-around;
}
.recent-activities-section {
	grid-area: recent;
	background-color: yellow;

}

.running-icon {
	font-size: 2rem;
	padding: 5px;
} 

.stats-section{
	grid-area: stats;
	background-color: orange;
}

footer {
	grid-area: footer;
	background-color: cyan;
}

